In [1]:
import pandas as pd
df_feature = pd.read_pickle('/home/xiaoguzai/数据/新闻推荐/user_data/data/offline/recall.pkl')
df_click = pd.read_pickle('/home/xiaoguzai/数据/新闻推荐/user_data/data/offline/click.pkl')

In [2]:
df_feature.head()

   user_id  article_id  label  sim_score
0        8      209122    0.0   2.002000
1        8       50644    1.0   1.380066
2        8      205824    0.0   1.244508
3        8       36162    0.0   0.814318
4        8      258195    0.0   0.672240

In [3]:
df_article = pd.read_csv('/home/xiaoguzai/数据/新闻推荐/articles.csv')
df_article['created_at_ts'] = df_article['created_at_ts'] / 1000
df_article['created_at_ts'] = df_article['created_at_ts'].astype('int')
df_feature = df_feature.merge(df_article, how='left')
df_feature['created_at_datetime'] = pd.to_datetime(
    df_feature['created_at_ts'], unit='s')

In [4]:
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36

In [5]:
df_click.sort_values(['user_id', 'click_timestamp'], inplace=True)
df_click.head()

,user_id,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,30760,1508211672520,4,1,17,1,25,2
1,0,157507,1508211702520,4,1,17,1,25,2
2,1,289197,1508211316889,4,1,17,1,25,6
3,1,63746,1508211346889,4,1,17,1,25,6
4,2,36162,1508211438695,4,3,20,1,25,2

In [6]:
df_click.rename(columns={'click_article_id': 'article_id'}, inplace=True)
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,30760,1508211672520,4,1,17,1,25,2
1,0,157507,1508211702520,4,1,17,1,25,2
2,1,289197,1508211316889,4,1,17,1,25,6
3,1,63746,1508211346889,4,1,17,1,25,6
4,2,36162,1508211438695,4,3,20,1,25,2

In [7]:
df_click = df_click.merge(df_article, how='left')
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count
0,0,30760,1508211672520,4,1,17,1,25,2,26,1508185091,162
1,0,157507,1508211702520,4,1,17,1,25,2,281,1508236945,370
2,1,289197,1508211316889,4,1,17,1,25,6,418,1508179909,176
3,1,63746,1508211346889,4,1,17,1,25,6,133,1508142585,162
4,2,36162,1508211438695,4,3,20,1,25,2,43,1508177171,205

In [8]:
df_click = df_click.merge(df_article, how='left')
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count
0,0,30760,1508211672520,4,1,17,1,25,2,26,1508185091,162
1,0,157507,1508211702520,4,1,17,1,25,2,281,1508236945,370
2,1,289197,1508211316889,4,1,17,1,25,6,418,1508179909,176
3,1,63746,1508211346889,4,1,17,1,25,6,133,1508142585,162
4,2,36162,1508211438695,4,3,20,1,25,2,43,1508177171,205

In [9]:
df_click['click_timestamp'] = df_click['click_timestamp'] / 1000
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count
0,0,30760,1.508212e+09,4,1,17,1,25,2,26,1508185091,162
1,0,157507,1.508212e+09,4,1,17,1,25,2,281,1508236945,370
2,1,289197,1.508211e+09,4,1,17,1,25,6,418,1508179909,176
3,1,63746,1.508211e+09,4,1,17,1,25,6,133,1508142585,162
4,2,36162,1.508211e+09,4,3,20,1,25,2,43,1508177171,205

In [10]:
df_click['click_datetime'] = pd.to_datetime(df_click['click_timestamp'],
                                                unit='s',
                                                errors='coerce')

df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count,click_datetime
0,0,30760,1.508212e+09,4,1,17,1,25,2,26,1508185091,162,2017-10-17 03:41:12.519999981
1,0,157507,1.508212e+09,4,1,17,1,25,2,281,1508236945,370,2017-10-17 03:41:42.519999981
2,1,289197,1.508211e+09,4,1,17,1,25,6,418,1508179909,176,2017-10-17 03:35:16.888999939
3,1,63746,1.508211e+09,4,1,17,1,25,6,133,1508142585,162,2017-10-17 03:35:46.888999939
4,2,36162,1.508211e+09,4,3,20,1,25,2,43,1508177171,205,2017-10-17 03:37:18.694999933

In [11]:
df_click['click_datetime_hour'] = df_click['click_datetime'].dt.hour

df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count,click_datetime,click_datetime_hour
0,0,30760,1.508212e+09,4,1,17,1,25,2,26,1508185091,162,2017-10-17 03:41:12.519999981,3
1,0,157507,1.508212e+09,4,1,17,1,25,2,281,1508236945,370,2017-10-17 03:41:42.519999981,3
2,1,289197,1.508211e+09,4,1,17,1,25,6,418,1508179909,176,2017-10-17 03:35:16.888999939,3
3,1,63746,1.508211e+09,4,1,17,1,25,6,133,1508142585,162,2017-10-17 03:35:46.888999939,3
4,2,36162,1.508211e+09,4,3,20,1,25,2,43,1508177171,205,2017-10-17 03:37:18.694999933,3

In [12]:
df_click['user_id_click_article_created_at_ts_diff'] = df_click.groupby(
    ['user_id'])['created_at_ts'].diff()
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count,click_datetime,click_datetime_hour,user_id_click_article_created_at_ts_diff
0,0,30760,1.508212e+09,4,1,17,1,25,2,26,1508185091,162,2017-10-17 03:41:12.519999981,3,NaN
1,0,157507,1.508212e+09,4,1,17,1,25,2,281,1508236945,370,2017-10-17 03:41:42.519999981,3,51854.0
2,1,289197,1.508211e+09,4,1,17,1,25,6,418,1508179909,176,2017-10-17 03:35:16.888999939,3,NaN
3,1,63746,1.508211e+09,4,1,17,1,25,6,133,1508142585,162,2017-10-17 03:35:46.888999939,3,-37324.0
4,2,36162,1.508211e+09,4,3,20,1,25,2,43,1508177171,205,2017-10-17 03:37:18.694999933,3,NaN

In [13]:
df_temp = df_click.groupby([
    'user_id'
])['user_id_click_article_created_at_ts_diff'].mean().reset_index()
df_temp.head()

   user_id  user_id_click_article_created_at_ts_diff
0        0                                   51854.0
1        1                                  -37324.0
2        2                                 -513850.0
3        3                                   -5148.0
4        4                                    5323.0

In [14]:
df_temp.columns = [
    'user_id', 'user_id_click_article_created_at_ts_diff_mean'
]
df_temp.head()

   user_id  user_id_click_article_created_at_ts_diff_mean
0        0                                        51854.0
1        1                                       -37324.0
2        2                                      -513850.0
3        3                                        -5148.0
4        4                                         5323.0

In [15]:
df_feature = df_feature.merge(df_temp, how='left', on='user_id')
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN

In [16]:
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count,click_datetime,click_datetime_hour,user_id_click_article_created_at_ts_diff
0,0,30760,1.508212e+09,4,1,17,1,25,2,26,1508185091,162,2017-10-17 03:41:12.519999981,3,NaN
1,0,157507,1.508212e+09,4,1,17,1,25,2,281,1508236945,370,2017-10-17 03:41:42.519999981,3,51854.0
2,1,289197,1.508211e+09,4,1,17,1,25,6,418,1508179909,176,2017-10-17 03:35:16.888999939,3,NaN
3,1,63746,1.508211e+09,4,1,17,1,25,6,133,1508142585,162,2017-10-17 03:35:46.888999939,3,-37324.0
4,2,36162,1.508211e+09,4,3,20,1,25,2,43,1508177171,205,2017-10-17 03:37:18.694999933,3,NaN

In [17]:
df_click['click_timestamp_created_at_ts_diff'] = df_click[
    'click_timestamp'] - df_click['created_at_ts']
df_click.head()

,user_id,article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,category_id,created_at_ts,words_count,click_datetime,click_datetime_hour,user_id_click_article_created_at_ts_diff,click_timestamp_created_at_ts_diff
0,0,30760,1.508212e+09,4,1,17,1,25,2,26,1508185091,162,2017-10-17 03:41:12.519999981,3,NaN,26581.520
1,0,157507,1.508212e+09,4,1,17,1,25,2,281,1508236945,370,2017-10-17 03:41:42.519999981,3,51854.0,-25242.480
2,1,289197,1.508211e+09,4,1,17,1,25,6,418,1508179909,176,2017-10-17 03:35:16.888999939,3,NaN,31407.889
3,1,63746,1.508211e+09,4,1,17,1,25,6,133,1508142585,162,2017-10-17 03:35:46.888999939,3,-37324.0,68761.889
4,2,36162,1.508211e+09,4,3,20,1,25,2,43,1508177171,205,2017-10-17 03:37:18.694999933,3,NaN,34267.695

In [18]:
df_temp = df_click.groupby(
    ['user_id'])['click_timestamp_created_at_ts_diff'].agg(
        user_click_timestamp_created_at_ts_diff_mean = 'mean',
        user_click_timestamp_created_at_ts_diff_std = 'std'
    ).reset_index()
df_temp.head()

,user_id,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std
0,0,669.520,36645.101828
1,1,50084.889,26413.266704
2,2,291207.695,363368.032716
3,3,31629.672,3661.398913
4,4,61594.966,3742.716193

In [19]:
df_feature = df_feature.merge(df_temp, how='left')
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN

In [20]:
df_temp = df_click.groupby(['user_id'])['click_datetime_hour'].agg(
    user_click_datetime_hour_std = 'std'
).reset_index()
df_temp.head()

   user_id  user_click_datetime_hour_std
0        0                           0.0
1        1                           0.0
2        2                           0.0
3        3                           0.0
4        4                           0.0

In [21]:
df_feature = df_feature.merge(df_temp, how='left')

df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std,user_click_datetime_hour_std
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN,NaN
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN,NaN
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN,NaN
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN,NaN
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN,NaN

In [22]:
df_temp = df_click.groupby(['user_id'])['words_count'].agg(
    user_clicked_article_words_count_mean = 'mean',
    user_click_last_article_words_count = lambda x: x.iloc[-1]
).reset_index()
df_temp.head()

,user_id,user_clicked_article_words_count_mean,user_click_last_article_words_count
0,0,266.0,370
1,1,169.0,162
2,2,210.0,215
3,3,196.5,205
4,4,220.0,175

In [23]:
df_feature = df_feature.merge(df_temp, how='left')
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std,user_click_datetime_hour_std,user_clicked_article_words_count_mean,user_click_last_article_words_count
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN,NaN,194.0,194
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN,NaN,194.0,194
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN,NaN,194.0,194
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN,NaN,194.0,194
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN,NaN,194.0,194

In [24]:
df_temp = df_click.groupby('user_id')['created_at_ts'].agg(
    user_click_last_article_created_time = lambda x: x.iloc[-1],
    user_clicked_article_created_time_max = 'max'
).reset_index()
df_temp.head()

,user_id,user_click_last_article_created_time,user_clicked_article_created_time_max
0,0,1508236945,1508236945
1,1,1508142585,1508179909
2,2,1507663321,1508177171
3,3,1508177171,1508182319
4,4,1508152707,1508152707

In [25]:
df_feature = df_feature.merge(df_temp, how='left')
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std,user_click_datetime_hour_std,user_clicked_article_words_count_mean,user_click_last_article_words_count,user_click_last_article_created_time,user_clicked_article_created_time_max
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100

In [26]:
df_temp = df_click.groupby('user_id')['click_timestamp'].agg(
    user_click_last_article_click_time = lambda x: x.iloc[-1],
    user_clicked_article_click_time_mean = 'mean'
).reset_index()
df_temp.head()

,user_id,user_click_last_article_click_time,user_clicked_article_click_time_mean
0,0,1.508212e+09,1.508212e+09
1,1,1.508211e+09,1.508211e+09
2,2,1.508211e+09,1.508211e+09
3,3,1.508211e+09,1.508211e+09
4,4,1.508212e+09,1.508212e+09

In [27]:
df_feature = df_feature.merge(df_temp, how='left')
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std,user_click_datetime_hour_std,user_clicked_article_words_count_mean,user_click_last_article_words_count,user_click_last_article_created_time,user_clicked_article_created_time_max,user_click_last_article_click_time,user_clicked_article_click_time_mean
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09

In [28]:
df_feature['user_last_click_created_at_ts_diff'] = df_feature[
    'created_at_ts'] - df_feature['user_click_last_article_created_time']
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std,user_click_datetime_hour_std,user_clicked_article_words_count_mean,user_click_last_article_words_count,user_click_last_article_created_time,user_clicked_article_created_time_max,user_click_last_article_click_time,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-263
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-2781
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,977
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-7929
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-1484

In [29]:
df_feature['user_last_click_timestamp_diff'] = df_feature[
    'created_at_ts'] - df_feature['user_click_last_article_click_time']
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_std,user_click_datetime_hour_std,user_clicked_article_words_count_mean,user_click_last_article_words_count,user_click_last_article_created_time,user_clicked_article_created_time_max,user_click_last_article_click_time,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-263,-26335.391
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-2781,-28853.391
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,977,-25095.391
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-7929,-34001.391
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,NaN,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-1484,-27556.391

In [30]:
df_feature['user_last_click_words_count_diff'] = df_feature[
    'words_count'] - df_feature['user_click_last_article_words_count']
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,...,user_click_datetime_hour_std,user_clicked_article_words_count_mean,user_click_last_article_words_count,user_click_last_article_created_time,user_clicked_article_created_time_max,user_click_last_article_click_time,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff,user_last_click_words_count_diff
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,...,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-263,-26335.391,-9
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,...,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-2781,-28853.391,-6
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,...,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,977,-25095.391,37
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,...,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-7929,-34001.391,11
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,...,NaN,194.0,194,1508185100,1508185100,1.508211e+09,1.508211e+09,-1484,-27556.391,3

In [31]:
for f in [['user_id'], ['article_id'], ['user_id', 'category_id']]:
    df_temp = df_click.groupby(f).size().reset_index()
    df_temp.columns = f + ['{}_cnt'.format('_'.join(f))]
    
    df_feature = df_feature.merge(df_temp, how='left')

In [32]:
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,...,user_click_last_article_created_time,user_clicked_article_created_time_max,user_click_last_article_click_time,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff,user_last_click_words_count_diff,user_id_cnt,article_id_cnt,user_id_category_id_cnt
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,...,1508185100,1508185100,1.508211e+09,1.508211e+09,-263,-26335.391,-9,1,988,NaN
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,...,1508185100,1508185100,1.508211e+09,1.508211e+09,-2781,-28853.391,-6,1,1463,NaN
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,...,1508185100,1508185100,1.508211e+09,1.508211e+09,977,-25095.391,37,1,491,NaN
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,...,1508185100,1508185100,1.508211e+09,1.508211e+09,-7929,-34001.391,11,1,1632,NaN
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,...,1508185100,1508185100,1.508211e+09,1.508211e+09,-1484,-27556.391,3,1,7,NaN

In [33]:
user_item_ = df_click.groupby('user_id')['article_id'].agg(
    list).reset_index()
user_item_dict = dict(zip(user_item_['user_id'], user_item_['article_id']))

In [34]:
user_item_dict

{0: [30760, 157507],
 1: [289197, 63746],
 2: [36162, 168401],
 3: [50644, 36162],
 4: [42567, 39894],
 5: [211442, 234481],
 6: [62464, 10023],
 7: [50644, 211442],
 8: [70986],
 9: [70986, 211442, 211455],
 10: [50644, 159195],
 11: [50644, 234481],
 12: [211442, 211455],
 13: [36162],
 14: [70986, 36162],
 15: [277107, 342473, 206415],
 16: [50644, 211442],
 17: [156279, 158331, 363916],
 18: [70986, 224730],
 19: [70986, 205824],
 20: [285433],
 21: [205958, 70758],
 22: [107014],
 23: [309535, 309311],
 24: [211442],
 25: [70240, 74665],
 26: [156279, 36162, 211722],
 27: [36162, 50644],
 28: [284470, 224730],
 29: [202355, 209122],
 30: [70986, 209122],
 31: [156279, 161526],
 32: [50644, 211442, 156279],
 33: [331116, 36162],
 34: [79851, 158158, 207603],
 35: [205824, 50644],
 36: [205824, 277107],
 37: [36162],
 38: [156279, 158331, 234481],
 39: [255035, 255683],
 40: [237614, 243234, 233578],
 41: [70986, 70758, 50644, 209122],
 42: [87209, 87560, 59924],
 43: [107190, 107014],
 44: [36162, 211442],
 45: [209122],
 46: [70986, 205824],
 47: [36162, 294107],
 48: [205824, 321149],
 49: [277712],
 50: [50494, 50405],
 51: [50644, 85319],
 52: [211442, 211455],
 53: [288942],
 54: [70758, 1973],
 55: [70240, 68865],
 56: [36162, 294107],
 57: [36162, 224730],
 58: [36162, 211442],
 59: [235105, 234978, 235656],
 60: [70758, 205958, 203454],
 61: [140438],
 62: [70986, 50644],
 63: [70758, 205824],
 64: [50644, 277107],
 65: [50644, 83549],
 66: [211442, 156279],
 67: [5583, 5595],
 68: [213804, 50644],
 69: [205958, 209122],
 70: [205824, 202370],
 71: [70986, 211442],
 72: [159452, 30149],
 73: [277107, 352979, 39894, 308117, 342473],
 74: [205958, 74722],
 75: [79851, 235323],
 76: [255735, 255741],
 77: [50644, 211442],
 78: [16749, 13881],
 79: [331116, 61452],
 80: [74665, 74666],
 81: [50644, 201940],
 82: [209122, 205824],
 83: [237261, 235105],
 84: [283009, 48401],
 85: [50644, 156279],
 86: [234481, 16346],
 87: [202355, 50644],
 88: [36162, 277107],
 89: [50644, 211442],
 90: [36162, 211442],
 91: [36162, 211442],
 92: [50644, 234481],
 93: [70986, 70677],
 94: [211442, 48074],
 95: [226563, 283009],
 96: [140357],
 97: [158331, 363916],
 98: [211442],
 99: [29288, 29545],
 100: [108903, 211442],
 101: [175078, 173651],
 102: [276698, 277300],
 103: [70986, 284470],
 104: [237822, 84911],
 105: [205958],
 106: [211442, 211455],
 107: [50644, 156279],
 108: [205824, 50644],
 109: [309394, 235323],
 110: [304815, 161526],
 111: [211442, 30760],
 112: [50644, 36162],
 113: [70986, 36162],
 114: [211442, 211722],
 115: [209122, 205824, 70986],
 116: [25377, 25187],
 117: [50644, 156279],
 118: [50644, 36162],
 119: [79851, 59423],
 120: [224730, 211442, 211722],
 121: [209122, 211442],
 122: [50644, 70986],
 123: [205824, 50644],
 124: [205958],
 125: [208556, 65726, 159537],
 126: [224730, 223926],
 127: [224730, 50644],
 128: [209122, 205824],
 129: [61452, 209122],
 130: [70986, 205958],
 131: [211442, 30760],
 132: [355397, 355542],
 133: [74722, 61452],
 134: [61452, 70986],
 135: [211442, 50644],
 136: [36162, 234481, 156279],
 137: [36162, 48074],
 138: [36162, 156279],
 139: [333029, 337087],
 140: [277107, 200875],
 141: [211442, 156279],
 142: [248438, 249524],
 143: [30760, 79851, 111338, 62465],
 144: [70986, 36162, 363345],
 145: [233578, 237013, 100925, 16346],
 146: [205824, 277107],
 147: [107190],
 148: [234978, 285433],
 149: [234481, 36162],
 150: [50644, 277107],
 151: [224730, 70986, 36162],
 152: [205824, 206415],
 153: [70986, 50644, 36162],
 154: [209122, 48074],
 155: [70240, 73506],
 156: [70986, 50644],
 157: [354424, 354621],
 158: [107107, 107190, 107014],
 159: [211442, 211455, 205824],
 160: [205958, 205824],
 161: [234978, 39894],
 162: [211442, 211455, 211401],
 163: [206785, 209013],
 164: [205824, 209122, 156279, 211442, 284470],
 165: [96368, 96241],
 166: [70986, 205824],
 167: [36162],
 168: [234308, 205824],
 169: [209122, 158158, 175454, 172687],
 170: [50644, 211442],
 171: [70986, 42401],
 172: [70986, 30760],
 173: [205824, 36162],
 174: [156279, 74722],
 175: [211442, 30760],
 176: [79851, 331116],
 177: [211442, 209122, 224730],
 178: [70986, 209122],
 179: [211442, 234481],
 180: [209122],
 181: [315104, 277107],
 182: [36162, 156279],
 183: [70758, 50644],
 184: [331116, 211442, 233988, 166322, 42401],
 185: [36162, 211442],
 186: [211442, 211455, 211401, 211732, 214505, 212089],
 187: [209122, 36162, 224730],
 188: [70986, 315104],
 189: [107190, 107014, 331116, 184033, 129237],
 190: [70986, 38802],
 191: [206571, 205824],
 192: [36162],
 193: [50644, 36162, 211442, 156279],
 194: [70758, 118664, 234308],
 195: [224730, 50644],
 196: [36162, 36385],
 197: [39894],
 198: [156279, 234481],
 199: [36162, 206415],
 200: [285433, 16346],
 201: [209122, 108903],
 202: [211442, 156279],
 203: [70758, 50644],
 204: [36162, 168743],
 205: [234481, 30760],
 206: [211442, 211455],
 207: [36162, 50644],
 208: [211442, 212022],
 209: [136138],
 210: [70986, 205824],
 211: [209122, 50644],
 212: [289003, 289007],
 213: [36162, 321350, 277107],
 214: [70758, 50644, 36162],
 215: [265205, 265237],
 216: [64586, 64889, 65226],
 217: [74628, 74554],
 218: [209122, 205824],
 219: [36162, 156279],
 220: [205824, 50644],
 221: [50644, 36162, 211442],
 222: [50644, 209122],
 223: [202370, 207758],
 224: [285433, 283009],
 225: [211442, 156279],
 226: [191938, 48074],
 227: [285877, 315104],
 228: [82966, 84288],
 229: [50644, 202093, 29896, 226563],
 230: [211442,
  16346,
  331149,
  361585,
  330990,
  273348,
  270958,
  1973,
  362914,
  313257,
  360547,
  313556,
  332461,
  30389],
 231: [209122, 205824],
 232: [209122, 70986],
 233: [57748, 16346, 205824],
 234: [211442, 209122],
 235: [70986, 277712],
 236: [30760, 59423, 59146, 58499, 59225, 95982],
 237: [209122, 234481],
 238: [50644, 211442],
 239: [107107, 234308],
 240: [209122, 70986],
 241: [50644, 70986],
 242: [36162, 294107],
 243: [107107, 331116],
 244: [107014, 100906],
 245: [158439, 155367],
 246: [87229, 36162, 211442],
 247: [211442, 211455],
 248: [36162, 211442],
 249: [70986, 70758, 57442],
 250: [205824, 209122],
 251: [70429, 70758],
 252: [30760, 315104],
 253: [68672, 158331, 321350],
 254: [36162, 284470],
 255: [70758],
 256: [195177],
 257: [205824, 202370],
 258: [259087, 259109],
 259: [16346, 50644],
 260: [162355, 159405],
 261: [50644, 156279],
 262: [14163, 16667],
 263: [209122, 211442],
 264: [70986, 50644],
 265: [284470, 50644],
 266: [61452, 284319],
 267: [202370, 328071],
 268: [50644, 159938],
 269: [70758, 205824],
 270: [209122, 284470],
 271: [36162, 168416],
 272: [234481, 277107],
 273: [211442, 156279],
 274: [205824, 36162, 156279],
 275: [224730, 211442],
 276: [50644, 166322],
 277: [107014, 156158],
 278: [70986, 50644],
 279: [70986],
 280: [160096, 277107],
 281: [70986, 277107],
 282: [209122, 70986],
 283: [211442, 234481],
 284: [205824, 211442],
 285: [30760, 36162, 331116],
 286: [270742, 270175, 272563],
 287: [157478, 289003],
 288: [50644, 202056],
 289: [50644, 205920, 207603],
 290: [234308, 205958],
 291: [50644, 224730, 79851],
 292: [209122, 284470],
 293: [209122, 205824],
 294: [70986, 277107],
 295: [70758, 50644, 211442],
 296: [30760, 352121],
 297: [33297, 30760, 324426],
 298: [70986, 50644],
 299: [50644, 211442],
 300: [36162, 211442],
 301: [73234, 340876],
 302: [30760, 36162],
 303: [30760, 211442, 211722, 234481],
 304: [70758, 36136],
 305: [50644, 234481],
 306: [96877, 50644],
 307: [50644, 211442, 36162],
 308: [154578, 180879, 180234, 180346, 180260, 180388, 180524],
 309: [70758, 50644],
 310: [36162, 206415],
 311: [50644, 50494],
 312: [230662, 33942, 54978],
 313: [72339, 72572],
 314: [234481, 237013],
 315: [36162, 156279],
 316: [50644, 36162],
 317: [36162, 234481],
 318: [50644, 206415],
 319: [211442, 107299],
 320: [36162, 211442],
 321: [211442, 211455],
 322: [202320, 107299],
 323: [209122, 315104],
 324: [156279, 272548],
 325: [42401, 39817],
 326: [118685, 172249],
 327: [50644, 49282, 36162],
 328: [107190, 107014],
 329: [202370, 70240, 181296, 211442],
 330: [50644, 211442, 156279, 161526],
 331: [36162, 211442],
 332: [234308, 70986],
 333: [211442, 211455, 211722],
 334: [36162, 50644],
 335: [50644, 202056],
 336: [70986, 211442],
 337: [166322],
 338: [202320, 205824],
 339: [335154, 334093],
 340: [70986, 277107],
 341: [50644],
 342: [70986, 156279],
 343: [50644, 36162],
 344: [209122, 205824],
 345: [211442, 211455, 211401],
 346: [36162, 50644, 277107],
 347: [209122, 42567, 42642],
 348: [50644, 36162, 211442],
 349: [50644, 156279, 50494],
 350: [30760, 362914],
 351: [11576, 13377],
 352: [206415, 202320],
 353: [70986, 156279],
 354: [36162, 30760],
 355: [211442, 156279],
 356: [209122, 206415],
 357: [211442],
 358: [72336, 72335, 72334, 72333, 72329],
 359: [107190, 283009, 285433, 362914],
 360: [209122, 206415],
 361: [70986, 50644],
 362: [36162, 156279],
 363: [50644, 234481],
 364: [211442, 209122],
 365: [209122, 70986],
 366: [70986, 50644, 36162],
 367: [289003, 118478],
 368: [202320, 57442],
 369: [209122, 203393],
 370: [50644, 156279],
 371: [36162, 224730, 211442],
 372: [209122, 36162],
 373: [206415, 234978],
 374: [30760, 209122, 234308],
 375: [209122, 50644],
 376: [50644, 202320],
 377: [100904, 354086],
 378: [50494, 50405],
 379: [70758],
 380: [357174, 357766],
 381: [209122, 50644],
 382: [156279, 363916],
 383: [50644, 36162],
 384: [70986, 205824],
 385: [209122, 205824, 283791],
 386: [209122, 50644, 211442],
 387: [211442, 209122],
 388: [50644, 36162],
 389: [211442],
 390: [58762, 182083],
 391: [160974, 158536],
 392: [36162, 156279, 277107, 74719],
 393: [30760, 211442],
 394: [211442, 30760],
 395: [70986, 36162],
 396: [48434, 226563, 50494],
 397: [209122, 205824],
 398: [156279, 209122, 234308],
 399: [205824, 50644],
 400: [226095, 224788],
 401: [205958, 70986],
 402: [209122, 224730],
 403: [211442, 156279],
 404: [87213, 157478, 235105, 198605],
 405: [70986, 50504],
 406: [39809, 39669, 293114],
 407: [224730, 211442],
 408: [211442, 211455],
 409: [156279, 211442],
 410: [35197, 38261],
 411: [209122, 70986],
 412: [119501, 114199],
 413: [156279, 277712],
 414: [5349, 107074],
 415: [209122, 50644],
 416: [353415, 348522],
 417: [205824, 206415],
 418: [48403, 190523, 234978],
 419: [36162, 156279],
 420: [205824, 202370, 209122],
 421: [209122, 70986, 107299],
 422: [234978, 348418],
 423: [224730, 36162],
 424: [50644, 211442],
 425: [205824],
 426: [224730, 211442],
 427: [50644, 36162],
 428: [277712, 277107],
 429: [70986, 293152],
 430: [30760, 324426],
 431: [361041, 360563, 361003],
 432: [235808, 70758],
 433: [209122, 70986],
 434: [209122, 70986],
 435: [203374, 36162],
 436: [156279, 161526],
 437: [36162, 234481, 237013],
 438: [70986, 258195],
 439: [70986, 50644],
 440: [12560, 12543],
 441: [211442, 159652],
 442: [70758, 50644],
 443: [211442, 16346],
 444: [50644, 157507],
 445: [211442, 156279],
 446: [70986, 107299],
 447: [205824, 205958, 208587],
 448: [211442, 211455, 211401, 212022, 212234],
 449: [50644, 158331],
 450: [284470, 205824],
 451: [36162, 211442, 156279, 156158],
 452: [211442, 211455],
 453: [205824, 202370],
 454: [211442, 156279],
 455: [211442, 211455],
 456: [205958, 205824],
 457: [205824, 224730, 255683],
 458: [50644, 36162, 211442],
 459: [50644],
 460: [211442, 156279],
 461: [70758, 50644],
 462: [193379, 194847],
 463: [285877, 285433],
 464: [208587, 209122],
 465: [50644, 206415],
 466: [243182, 243234],
 467: [36162, 74722],
 468: [38957, 38956, 38949, 38958],
 469: [70986, 70758],
 470: [50644, 30760],
 471: [70986, 209122],
 472: [36162, 224730],
 473: [50644, 211442],
 474: [331116, 39894],
 475: [110034, 86142],
 476: [277107, 206415],
 477: [205824, 226402],
 478: [70986, 211442],
 479: [237402, 235581, 235648],
 480: [70986, 284470],
 481: [209122, 70986],
 482: [273566, 269273],
 483: [70986, 277107],
 484: [36162, 211442],
 485: [211442],
 486: [211442, 211455],
 487: [211442, 211455, 211401],
 488: [284470, 206571],
 489: [124598, 315104],
 490: [70758, 50644, 205824],
 491: [211442, 214297, 166322],
 492: [70986, 234744],
 493: [30760],
 494: [234308, 209122],
 495: [111305, 111133],
 496: [50644, 30760],
 497: [234308, 209122, 16346],
 498: [63304, 63294],
 499: [36162, 224730, 211442],
 500: [135776, 194906, 185764, 189902],
 501: [205824, 224730],
 502: [50644, 70986],
 503: [50644, 33297],
 504: [87215, 87213],
 505: [36162, 30760, 59146],
 506: [211442, 156279],
 507: [205824, 209122],
 508: [50644, 211442],
 509: [277107, 30389],
 510: [277107, 36162],
 511: [209122, 284470, 70986],
 512: [70986, 36162],
 513: [36162, 211442],
 514: [70986, 258195, 209122],
 515: [209122, 50644],
 516: [50644, 156279, 30760],
 517: [50644, 211442],
 518: [156279, 211442, 211455, 211722, 213877, 234481],
 519: [209122, 205824],
 520: [205824, 205958],
 521: [235808],
 522: [199262, 199372],
 523: [209122, 205824],
 524: [50644, 36162],
 525: [224730, 283009],
 526: [277712, 277713],
 527: [70986, 195147],
 528: [70758, 70429],
 529: [205958, 224417],
 530: [224730, 211442, 211455, 129905, 362914, 74722],
 531: [70986, 205824],
 532: [65839, 331116],
 533: [209122, 234308],
 534: [111738, 111663],
 535: [50644, 211442],
 536: [36162, 156279],
 537: [50644, 209122],
 538: [234978, 199475],
 539: [123938, 124598, 191501],
 540: [224730],
 541: [209122],
 542: [211442, 211455, 211401],
 543: [209122, 224730],
 544: [206415, 348429],
 545: [50644, 209122],
 546: [70986, 50644],
 547: [70986, 16346],
 548: [50644, 211442],
 549: [50644, 30760],
 550: [208440, 277107],
 551: [36162],
 552: [70758, 36162, 294107],
 553: [50644, 315104, 183562, 16797],
 554: [70986, 277107],
 555: [70986, 209122, 211442],
 556: [50644, 211442],
 557: [172253, 50494],
 558: [30760, 156279, 16346, 315104],
 559: [50644, 30760],
 560: [70986, 205958, 50644],
 561: [70986, 50644],
 562: [70758, 84911, 84288, 83549, 84100, 84681, 84061, 84892, 84835, 83406],
 563: [50644, 49282],
 564: [36162],
 565: [129905, 128496],
 566: [234308, 205824],
 567: [209122, 205824],
 568: [211442, 107190],
 569: [156279, 211442],
 570: [331116, 332461, 16346, 234978],
 571: [205958, 224417],
 572: [211442, 211455],
 573: [39894, 107190],
 574: [50644, 36162],
 575: [70986, 50644],
 576: [50644, 57688],
 577: [211442, 30760],
 578: [36162, 36044],
 579: [134810, 133889, 135697],
 580: [36162, 107190],
 581: [36162, 156279],
 582: [285533, 107190],
 583: [36162, 277107],
 584: [234308],
 585: [107190, 237851, 331116],
 586: [159195, 16346, 234978],
 587: [211442, 211455, 211401],
 588: [226563, 50494],
 589: [70986, 107299],
 590: [70986, 277107],
 591: [224730, 211442],
 592: [291633, 211442],
 593: [50644, 277107],
 594: [205958, 205824],
 595: [36162, 277107, 206415],
 596: [277712, 277713],
 597: [284760, 284177, 285960, 283009],
 598: [205824, 206415],
 599: [50644],
 600: [36162, 30760, 30955],
 601: [36162, 50644],
 602: [50644, 9699],
 603: [73388, 114919],
 604: [211442, 87194],
 605: [70758, 205920],
 606: [50644, 211442],
 607: [70986, 36162, 331116, 211442],
 608: [50644, 156279, 234481],
 609: [209122, 205824],
 610: [140883],
 611: [162248, 156158, 107107],
 612: [277107, 36136],
 613: [50644, 36162],
 614: [209122, 50644, 49282],
 615: [50644, 49282],
 616: [70986, 50644],
 617: [50644, 195177],
 618: [70986, 50644],
 619: [50644, 36162, 209122],
 620: [205824, 284470],
 621: [209122, 234308],
 622: [258195, 289003],
 623: [205824, 209122],
 624: [226563, 74665],
 625: [235808, 235105],
 626: [36162, 39894],
 627: [50644, 202093, 363916],
 628: [285877, 156807],
 629: [209122, 315104],
 630: [206415, 321350, 30760, 277107, 283009],
 631: [205824, 209122],
 632: [36162, 205824],
 633: [209122, 36162],
 634: [70986, 36162, 211442],
 635: [233578, 237851],
 636: [70986, 277107],
 637: [211442, 198605],
 638: [79851, 108858],
 639: [62465, 32418],
 640: [283009, 16346],
 641: [50644, 256485],
 642: [277107, 289003],
 643: [65382, 66056, 68865, 315104, 336254, 181296],
 644: [209122, 70986],
 645: [78378, 145219, 74722, 68672],
 646: [234481, 211442, 48401],
 647: [318563, 318564],
 648: [70986, 195243, 205958],
 649: [234308],
 650: [70986, 277107],
 651: [50644, 36162],
 652: [336254, 140686],
 653: [209122, 50644],
 654: [70986, 107299],
 655: [288731, 288723, 287978],
 656: [36162],
 657: [50644, 36162],
 658: [209122, 16346],
 659: [161963, 105658],
 660: [224730, 42786],
 661: [70986, 205824],
 662: [70986, 36162],
 663: [50644, 211732],
 664: [354945],
 665: [50644],
 666: [237056, 70986],
 667: [171198, 171181],
 668: [205824, 284470],
 669: [96141, 209122],
 670: [36162, 235334],
 671: [50644, 331149],
 672: [50644, 36162, 30760],
 673: [128089, 129855],
 674: [209122, 70986],
 675: [73506, 73413],
 676: [255007, 48434],
 677: [277569, 165049],
 678: [50644, 36162, 30760],
 679: [360547, 361585],
 680: [209122, 206415],
 681: [209122, 284470, 14163],
 682: [177593],
 683: [209122, 277107],
 684: [205958, 284470, 50644],
 685: [156158, 235323],
 686: [364017, 50644],
 687: [50644, 256485],
 688: [209122, 70986, 206415],
 689: [70986, 211442],
 690: [70758, 156279],
 691: [50644, 70240],
 692: [4598, 36162],
 693: [205824, 209122],
 694: [209122, 50644],
 695: [107014, 70986, 14163],
 696: [36162, 277107],
 697: [87194, 234698, 234698, 87194],
 698: [184383, 184003],
 699: [209122, 50644],
 700: [50644, 36162],
 701: [224730, 315104],
 702: [70429, 70758],
 703: [209122, 70986],
 704: [237851, 234978],
 705: [224730, 235808],
 706: [234308, 209122, 70986],
 707: [50644, 36162, 48401, 74722],
 708: [277107, 79807, 234978],
 709: [50644, 79851],
 710: [205824, 70758, 277107],
 711: [209122, 206415],
 712: [277107, 39894],
 713: [50644, 211732],
 714: [70429, 195177],
 715: [50644, 79851],
 716: [50644, 211926],
 717: [209122, 205824],
 718: [30760, 70986],
 719: [70986, 235323],
 720: [87190, 87186],
 721: [120773, 120766],
 722: [70986, 209122],
 723: [50644, 36162],
 724: [36162, 14163, 62599],
 725: [70986, 50644],
 726: [66030, 66041],
 727: [205824, 209122],
 728: [70986, 205824, 209122],
 729: [209122, 205824],
 730: [36136, 35771],
 731: [70986, 277107],
 732: [209122, 277107],
 733: [70986, 205824],
 734: [158772, 199475],
 735: [283009],
 736: [50644, 36162],
 737: [79851, 50644],
 738: [282871, 284704, 282795],
 739: [226563, 73506],
 740: [73506, 227586],
 741: [209122],
 742: [50644, 277107],
 743: [36162, 211442],
 744: [36162, 30760],
 745: [353849, 234978, 199475, 277491, 250925, 283009, 353153, 277107, 114622],
 746: [209122, 50644],
 747: [50644, 234481],
 748: [209122, 234308],
 749: [205824, 209122],
 750: [96134, 96141],
 751: [57442, 70758, 58258, 362914, 30760, 107299],
 752: [50644, 36162],
 753: [70758, 68882],
 754: [205958, 209122],
 755: [70986, 36162],
 756: [284470, 36136],
 757: [209122, 50644],
 758: [119189, 16346],
 759: [209122, 107299],
 760: [209122, 205824],
 761: [74722, 156279],
 762: [209122, 277107],
 763: [48434, 70240],
 764: [36162, 304195, 305069],
 765: [36162, 209122],
 766: [36162, 277107],
 767: [36162, 234481],
 768: [36162, 30760],
 769: [209122, 36162],
 770: [205958, 36162],
 771: [209122],
 772: [209122, 226563],
 773: [330700, 193741],
 774: [270742, 272387],
 775: [36162, 50644],
 776: [209122, 107107],
 777: [42384, 42387],
 778: [209122, 50644, 30760],
 779: [209122, 156279],
 780: [256026, 16346],
 781: [70986],
 782: [107014, 264200, 70758, 285877, 285559],
 783: [73506, 73413],
 784: [205824, 50644],
 785: [361041, 360563, 362914],
 786: [132431, 70986],
 787: [30760, 79851],
 788: [41243, 50644, 36162],
 789: [313862, 313556],
 790: [50644, 234481],
 791: [277107, 107107],
 792: [50644, 211732],
 793: [50644, 49282],
 794: [20956, 17527],
 795: [205824, 50644],
 796: [205824, 33987],
 797: [73287, 73284, 73506],
 798: [277713, 277712],
 799: [202370, 209122, 206415, 202427],
 800: [202370, 107261],
 801: [206415, 336254],
 802: [209122, 205958],

In [35]:
import pickle
f = open('/home/xiaoguzai/数据/新闻推荐/user_data/sim/offline/itemcf_sim.pkl', 'rb')
item_sim = pickle.load(f)
f.close()

In [36]:
def func_if_sum(x):
    user_id = x['user_id']
    article_id = x['article_id']

    interacted_items = user_item_dict[user_id]
    interacted_items = interacted_items[::-1]

    sim_sum = 0
    for loc, i in enumerate(interacted_items):
        try:
            sim_sum += item_sim[i][article_id] * (0.7**loc)
        except Exception as e:
            pass
    return sim_sum


def func_if_last(x):
    user_id = x['user_id']
    article_id = x['article_id']

    last_item = user_item_dict[user_id][-1]

    sim = 0
    try:
        sim = item_sim[last_item][article_id]
    except Exception as e:
        pass
    return sim

In [38]:
from pandarallel import pandarallel
 
# Initialization
pandarallel.initialize()
# 用户历史点击物品与待预测物品相似度
df_feature['user_clicked_article_itemcf_sim_sum'] = df_feature[['user_id', 'article_id']].parallel_apply(func_if_sum, axis=1)
df_feature['user_last_click_article_itemcf_sim'] = df_feature[['user_id', 'article_id']].parallel_apply(func_if_last, axis=1)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [39]:
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,...,user_click_last_article_click_time,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff,user_last_click_words_count_diff,user_id_cnt,article_id_cnt,user_id_category_id_cnt,user_clicked_article_itemcf_sim_sum,user_last_click_article_itemcf_sim
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,...,1.508211e+09,1.508211e+09,-263,-26335.391,-9,1,988,NaN,0.068354,0.068354
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,...,1.508211e+09,1.508211e+09,-2781,-28853.391,-6,1,1463,NaN,0.048166,0.048166
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,...,1.508211e+09,1.508211e+09,977,-25095.391,37,1,491,NaN,0.053793,0.053793
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,...,1.508211e+09,1.508211e+09,-7929,-34001.391,11,1,1632,NaN,0.029998,0.029998
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,...,1.508211e+09,1.508211e+09,-1484,-27556.391,3,1,7,NaN,0.047588,0.047588

In [40]:
f = open('/home/xiaoguzai/数据/新闻推荐/user_data/sim/offline/binetwork_sim.pkl', 'rb')
binetwork_sim = pickle.load(f)
f.close()

In [44]:
def func_binetwork_sim_last(x):
    user_id = x['user_id']
    article_id = x['article_id']

    last_item = user_item_dict[user_id][-1]

    sim = 0
    try:
        sim = binetwork_sim[last_item][article_id]
    except Exception as e:
        pass
    return sim

In [45]:
df_feature['user_last_click_article_binetwork_sim'] = df_feature[[
    'user_id', 'article_id'
]].parallel_apply(func_binetwork_sim_last, axis=1)

In [46]:
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,...,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff,user_last_click_words_count_diff,user_id_cnt,article_id_cnt,user_id_category_id_cnt,user_clicked_article_itemcf_sim_sum,user_last_click_article_itemcf_sim,user_last_click_article_binetwork_sim
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,...,1.508211e+09,-263,-26335.391,-9,1,988,NaN,0.068354,0.068354,10.684788
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,...,1.508211e+09,-2781,-28853.391,-6,1,1463,NaN,0.048166,0.048166,7.752525
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,...,1.508211e+09,977,-25095.391,37,1,491,NaN,0.053793,0.053793,5.027723
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,...,1.508211e+09,-7929,-34001.391,11,1,1632,NaN,0.029998,0.029998,5.055127
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,...,1.508211e+09,-1484,-27556.391,3,1,7,NaN,0.047588,0.047588,0.481716

In [47]:
df_feature.head()

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,...,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff,user_last_click_words_count_diff,user_id_cnt,article_id_cnt,user_id_category_id_cnt,user_clicked_article_itemcf_sim_sum,user_last_click_article_itemcf_sim,user_last_click_article_binetwork_sim
0,8,209122,0.0,2.002000,332,1508184837,185,2017-10-16 20:13:57,NaN,26072.391,...,1.508211e+09,-263,-26335.391,-9,1,988,NaN,0.068354,0.068354,10.684788
1,8,50644,1.0,1.380066,99,1508182319,188,2017-10-16 19:31:59,NaN,26072.391,...,1.508211e+09,-2781,-28853.391,-6,1,1463,NaN,0.048166,0.048166,7.752525
2,8,205824,0.0,1.244508,331,1508186077,231,2017-10-16 20:34:37,NaN,26072.391,...,1.508211e+09,977,-25095.391,37,1,491,NaN,0.053793,0.053793,5.027723
3,8,36162,0.0,0.814318,43,1508177171,205,2017-10-16 18:06:11,NaN,26072.391,...,1.508211e+09,-7929,-34001.391,11,1,1632,NaN,0.029998,0.029998,5.055127
4,8,258195,0.0,0.672240,393,1508183616,197,2017-10-16 19:53:36,NaN,26072.391,...,1.508211e+09,-1484,-27556.391,3,1,7,NaN,0.047588,0.047588,0.481716

In [54]:
set(df_feature['user_id'])

{8,
 13,
 22,
 24,
 37,
 45,
 49,
 69,
 98,
 120,
 124,
 136,
 147,
 167,
 180,
 186,
 192,
 197,
 207,
 247,
 255,
 256,
 279,
 295,
 329,
 337,
 341,
 347,
 357,
 358,
 379,
 389,
 398,
 404,
 424,
 425,
 442,
 451,
 459,
 485,
 508,
 521,
 540,
 541,
 542,
 551,
 564,
 646,
 649,
 652,
 656,
 664,
 665,
 735,
 741,
 743,
 771,
 781,
 808,
 816,
 823,
 836,
 856,
 866,
 879,
 895,
 896,
 904,
 924,
 938,
 958,
 1007,
 1018,
 1023,
 1039,
 1047,
 1049,
 1052,
 1088,
 1095,
 1100,
 1101,
 1103,
 1121,
 1126,
 1128,
 1132,
 1134,
 1136,
 1140,
 1142,
 1143,
 1160,
 1168,
 1196,
 1203,
 1208,
 1212,
 1214,
 1242,
 1248,
 1249,
 1262,
 1282,
 1292,
 1347,
 1361,
 1376,
 1384,
 1425,
 1436,
 1442,
 1454,
 1459,
 1495,
 1503,
 1515,
 1523,
 1587,
 1595,
 1597,
 1623,
 1666,
 1670,
 1676,
 1679,
 1722,
 1724,
 1733,
 1749,
 1753,
 1773,
 1779,
 1787,
 1806,
 1813,
 1817,
 1825,
 1834,
 1835,
 1836,
 1837,
 1863,
 1877,
 1882,
 1901,
 1911,
 1917,
 1927,
 1936,
 1942,
 1944,
 2012,
 2016,
 2017,
 2020,
 2029,
 2048,
 2050,
 2093,
 2103,
 2111,
 2136,
 2137,
 2186,
 2187,
 2201,
 2202,
 2227,
 2242,
 2244,
 2263,
 2285,
 2287,
 2318,
 2339,
 2340,
 2372,
 2388,
 2410,
 2427,
 2442,
 2464,
 2470,
 2472,
 2478,
 2520,
 2558,
 2569,
 2575,
 2625,
 2630,
 2638,
 2654,
 2664,
 2671,
 2673,
 2680,
 2685,
 2686,
 2710,
 2714,
 2721,
 2723,
 2779,
 2794,
 2800,
 2816,
 2828,
 2834,
 2884,
 2886,
 2918,
 2934,
 2943,
 2977,
 2978,
 2988,
 3004,
 3008,
 3009,
 3034,
 3046,
 3051,
 3070,
 3082,
 3111,
 3125,
 3130,
 3162,
 3173,
 3176,
 3177,
 3184,
 3193,
 3213,
 3227,
 3251,
 3252,
 3255,
 3264,
 3290,
 3291,
 3319,
 3321,
 3338,
 3350,
 3367,
 3394,
 3424,
 3445,
 3461,
 3462,
 3463,
 3473,
 3481,
 3483,
 3484,
 3494,
 3498,
 3514,
 3529,
 3539,
 3548,
 3555,
 3557,
 3656,
 3662,
 3668,
 3673,
 3681,
 3693,
 3712,
 3713,
 3723,
 3732,
 3743,
 3760,
 3775,
 3783,
 3802,
 3807,
 3817,
 3827,
 3829,
 3830,
 3832,
 3834,
 3860,
 3861,
 3863,
 3882,
 3898,
 3910,
 3949,
 3954,
 3971,
 3997,
 3998,
 4006,
 4012,
 4021,
 4036,
 4049,
 4063,
 4070,
 4076,
 4098,
 4154,
 4162,
 4165,
 4166,
 4176,
 4183,
 4184,
 4230,
 4232,
 4242,
 4248,
 4254,
 4258,
 4259,
 4264,
 4269,
 4276,
 4300,
 4301,
 4315,
 4345,
 4352,
 4367,
 4368,
 4391,
 4393,
 4394,
 4396,
 4407,
 4411,
 4417,
 4427,
 4432,
 4434,
 4448,
 4484,
 4500,
 4503,
 4538,
 4540,
 4571,
 4575,
 4582,
 4593,
 4594,
 4600,
 4628,
 4629,
 4638,
 4663,
 4679,
 4680,
 4723,
 4734,
 4744,
 4762,
 4774,
 4775,
 4789,
 4791,
 4792,
 4798,
 4814,
 4818,
 4838,
 4840,
 4857,
 4865,
 4872,
 4875,
 4876,
 4925,
 4934,
 4939,
 4955,
 4960,
 4961,
 4962,
 4978,
 4999,
 5003,
 5047,
 5059,
 5090,
 5102,
 5110,
 5112,
 5122,
 5123,
 5129,
 5130,
 5161,
 5169,
 5170,
 5171,
 5175,
 5203,
 5205,
 5232,
 5237,
 5258,
 5259,
 5261,
 5262,
 5356,
 5357,
 5370,
 5371,
 5378,
 5395,
 5411,
 5414,
 5420,
 5422,
 5436,
 5437,
 5439,
 5443,
 5446,
 5496,
 5518,
 5522,
 5536,
 5538,
 5550,
 5554,
 5561,
 5568,
 5585,
 5590,
 5592,
 5605,
 5606,
 5623,
 5628,
 5652,
 5684,
 5686,
 5694,
 5712,
 5740,
 5746,
 5770,
 5775,
 5787,
 5799,
 5800,
 5806,
 5810,
 5820,
 5825,
 5826,
 5833,
 5844,
 5859,
 5878,
 5883,
 5886,
 5942,
 5957,
 5982,
 5997,
 6006,
 6020,
 6029,
 6033,
 6039,
 6046,
 6050,
 6054,
 6063,
 6092,
 6105,
 6116,
 6123,
 6129,
 6140,
 6182,
 6196,
 6205,
 6215,
 6220,
 6223,
 6232,
 6234,
 6241,
 6263,
 6270,
 6288,
 6289,
 6322,
 6323,
 6328,
 6337,
 6350,
 6351,
 6366,
 6368,
 6383,
 6394,
 6399,
 6410,
 6412,
 6437,
 6443,
 6454,
 6462,
 6463,
 6493,
 6524,
 6546,
 6551,
 6552,
 6556,
 6565,
 6574,
 6576,
 6624,
 6626,
 6629,
 6637,
 6643,
 6654,
 6657,
 6671,
 6676,
 6682,
 6687,
 6699,
 6730,
 6745,
 6747,
 6754,
 6768,
 6770,
 6771,
 6787,
 6804,
 6810,
 6812,
 6814,
 6836,
 6839,
 6853,
 6866,
 6926,
 6974,
 6985,
 6987,
 6988,
 7007,
 7008,
 7010,
 7016,
 7017,
 7023,
 7025,
 7026,
 7046,
 7054,
 7059,
 7060,
 7081,
 7082,
 7099,
 7108,
 7110,
 7120,
 7138,
 7146,
 7147,
 7150,
 7186,
 7188,
 7191,
 7217,
 7258,
 7264,
 7276,
 7289,
 7291,
 7298,
 7300,
 7301,
 7314,
 7316,
 7322,
 7323,
 7326,
 7333,
 7336,
 7340,
 7354,
 7362,
 7365,
 7385,
 7387,
 7393,
 7396,
 7407,
 7435,
 7445,
 7456,
 7458,
 7466,
 7497,
 7502,
 7506,
 7525,
 7533,
 7539,
 7543,
 7556,
 7568,
 7572,
 7593,
 7605,
 7629,
 7641,
 7670,
 7676,
 7680,
 7702,
 7719,
 7720,
 7721,
 7723,
 7743,
 7752,
 7753,
 7755,
 7771,
 7772,
 7789,
 7798,
 7811,
 7813,
 7820,
 7840,
 7854,
 7858,
 7870,
 7889,
 7936,
 7941,
 7948,
 7949,
 7955,
 7959,
 7989,
 7997,
 8003,
 8023,
 8041,
 8043,
 8070,
 8094,
 8099,
 8108,
 8111,
 8119,
 8131,
 8133,
 8146,
 8180,
 8189,
 8197,
 8211,
 8215,
 8228,
 8232,
 8266,
 8269,
 8273,
 8318,
 8324,
 8335,
 8347,
 8365,
 8437,
 8447,
 8456,
 8460,
 8461,
 8480,
 8506,
 8530,
 8539,
 8554,
 8555,
 8561,
 8629,
 8641,
 8652,
 8666,
 8672,
 8719,
 8723,
 8735,
 8739,
 8744,
 8770,
 8808,
 8831,
 8832,
 8845,
 8851,
 8892,
 8912,
 8923,
 8928,
 8930,
 8936,
 8945,
 8950,
 8954,
 8967,
 8984,
 8990,
 8995,
 9019,
 9020,
 9023,
 9030,
 9056,
 9059,
 9063,
 9072,
 9075,
 9093,
 9115,
 9134,
 9140,
 9143,
 9167,
 9173,
 9175,
 9185,
 9218,
 9221,
 9225,
 9230,
 9233,
 9239,
 9244,
 9267,
 9274,
 9289,
 9298,
 9300,
 9306,
 9323,
 9327,
 9344,
 9348,
 9373,
 9374,
 9411,
 9437,
 9448,
 9449,
 9451,
 9457,
 9460,
 9497,
 9498,
 9501,
 9521,
 9525,
 9534,
 9545,
 9553,
 9575,
 9592,
 9618,
 9620,
 9623,
 9644,
 9667,
 9672,
 9680,
 9698,
 9707,
 9710,
 9720,
 9745,
 9751,
 9755,
 9772,
 9776,
 9788,
 9791,
 9800,
 9816,
 9854,
 9858,
 9872,
 9880,
 9885,
 9889,
 9914,
 9931,
 9975,
 9978,
 9987,
 10002,
 10016,
 10017,
 10028,
 10071,
 10075,
 10077,
 10106,
 10112,
 10122,
 10143,
 10150,
 10154,
 10189,
 10212,
 10219,
 10223,
 10240,
 10249,
 10267,
 10281,
 10285,
 10334,
 10337,
 10350,
 10391,
 10397,
 10404,
 10425,
 10430,
 10443,
 10445,
 10448,
 10453,
 10464,
 10494,
 10496,
 10497,
 10505,
 10506,
 10507,
 10536,
 10561,
 10567,
 10573,
 10580,
 10600,
 10601,
 10651,
 10658,
 10659,
 10672,
 10685,
 10723,
 10727,
 10730,
 10746,
 10759,
 10767,
 10769,
 10780,
 10793,
 10798,
 10807,
 10810,
 10811,
 10833,
 10839,
 10853,
 10864,
 10865,
 10899,
 10900,
 10901,
 10916,
 10929,
 10930,
 10936,
 10941,
 10944,
 10948,
 10951,
 10952,
 10954,
 10959,
 10986,
 11021,
 11036,
 11038,
 11040,
 11056,
 11067,
 11074,
 11077,
 11096,
 11114,
 11122,
 11126,
 11146,
 11160,
 11165,
 11185,
 11197,
 11201,
 11214,
 11234,
 11245,
 11257,
 11264,
 11265,
 11281,
 11282,
 11284,
 11291,
 11304,
 11305,
 11308,
 11335,
 11351,
 11352,
 11356,
 11370,
 11390,
 11391,
 11397,
 11401,
 11452,
 11472,
 11474,
 11480,
 11502,
 11505,
 11523,
 11525,
 11533,
 11543,
 11554,
 11563,
 11567,
 11569,
 11572,
 11583,
 11600,
 11608,
 11611,
 11617,
 11634,
 11660,
 11682,
 11695,
 11711,
 11735,
 11739,
 11768,
 11777,
 11779,
 11791,
 11792,
 11799,
 11804,
 11807,
 11831,
 11833,
 11834,
 11839,
 11854,
 11862,
 11871,
 11879,
 11893,
 11924,
 11926,
 11936,
 11939,
 11944,
 11954,
 11974,
 11991,
 11992,
 12002,
 12017,
 12028,
 12038,
 12040,
 12041,
 12051,
 12060,
 ...}

In [67]:
df_feature[df_feature['user_id'] == 120]

,user_id,article_id,label,sim_score,category_id,created_at_ts,words_count,created_at_datetime,user_id_click_article_created_at_ts_diff_mean,user_click_timestamp_created_at_ts_diff_mean,...,user_clicked_article_click_time_mean,user_last_click_created_at_ts_diff,user_last_click_timestamp_diff,user_last_click_words_count_diff,user_id_cnt,article_id_cnt,user_id_category_id_cnt,user_clicked_article_itemcf_sim_sum,user_last_click_article_itemcf_sim,user_last_click_article_binetwork_sim
1536,120,211415,0.0,1.946650,340,1507644366,178,2017-10-10 14:06:06,-259931.5,198501.735333,...,1.508208e+09,-16674,-564205.107,-37,3,615,2.0,0.057877,0.055712,4.323270
1537,120,211926,0.0,1.508897,340,1507720297,176,2017-10-11 11:11:37,-259931.5,198501.735333,...,1.508208e+09,59257,-488274.107,-39,3,164,2.0,0.061358,0.060480,2.540407
1538,120,214784,0.0,1.200909,348,1507663648,185,2017-10-10 19:27:28,-259931.5,198501.735333,...,1.508208e+09,2608,-544923.107,-30,3,245,NaN,0.042509,0.040652,2.277355
1539,120,214658,0.0,0.987580,348,1507221158,202,2017-10-05 16:32:38,-259931.5,198501.735333,...,1.508208e+09,-439882,-987413.107,-13,3,327,NaN,0.039883,0.038437,2.124391
1540,120,211455,0.0,0.895589,340,1508050678,153,2017-10-15 06:57:58,-259931.5,198501.735333,...,1.508208e+09,389638,-157893.107,-62,3,368,2.0,0.056532,0.007704,0.678790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721,120,233887,0.0,0.001858,375,1507733684,192,2017-10-11 14:54:44,-259931.5,198501.735333,...,1.508208e+09,72644,-474887.107,-23,3,108,NaN,0.001391,0.001391,0.056810
1722,120,219938,0.0,0.001177,353,1507718949,197,2017-10-11 10:49:09,-259931.5,198501.735333,...,1.508208e+09,57909,-489622.107,-18,3,79,NaN,0.000051,0.000000,0.000000
1723,120,166322,0.0,0.001000,289,1508138644,173,2017-10-16 07:24:04,-259931.5,198501.735333,...,1.508208e+09,477604,-69927.107,-42,3,629,NaN,0.007234,0.002540,0.319134
1724,120,233717,0.0,0.001000,375,1507089657,184,2017-10-04 04:00:57,-259931.5,198501.735333,...,1.508208e+09,-571383,-1118914.107,-31,3,9073,NaN,0.001151,0.000556,0.707670
1725,120,5107,0.0,0.000100,2,1507651032,184,2017-10-10 15:57:12,-259931.5,198501.735333,...,1.508208e+09,-10008,-557539.107,-31,3,60,NaN,0.000000,0.000000,0.000000

In [73]:
interacted_items = user_item_dict[120]

In [74]:
interacted_items

[224730, 211442, 211722]