In [1]:
import pandas as pd
df_click = pd.read_pickle('/home/xiaoguzai/数据/新闻推荐/user_data/data/offline/click.pkl')
df_query = pd.read_pickle('/home/xiaoguzai/数据/新闻推荐/user_data/data/offline/query.pkl')

In [2]:
df_click.head()

,user_id,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,30760,1508211672520,4,1,17,1,25,2
1,0,157507,1508211702520,4,1,17,1,25,2
2,1,289197,1508211316889,4,1,17,1,25,6
3,1,63746,1508211346889,4,1,17,1,25,6
4,2,36162,1508211438695,4,3,20,1,25,2

In [3]:
df_query.head()

   user_id  click_article_id
0        8             50644
1       13            277107
2       20            285300
3       22            107190
4       24            156279

In [4]:
df_click[df_click['label'].isnull()]

KeyError: 'label'